// Mobile S --> adapter la taille des titres aux petits appareils
@media (max-width: 319px) {
    .presentation__title{
        font-size: 1.4rem;
    }
    .restaurants__card__description--title{
        font-size: 0.9rem;
    }
    .menu{
        &__title{
        font-size: 1.2rem;
        }
        &__like-button{
            top: 20px;
        }
    }
    .menu-card__description{
        &__title{
            font-size: 0.8rem;
        }
        &__subtitle-tarif{
            font-size: 0.7rem;
        }
    }
}

// Mobile M --> adapter la taille des titres
@media (min-width: 320px) and (max-width: 374px) {
    .menu__title{
        font-size: 1.4rem;
    }
    .menu-card__description{
        &__title{
            font-size: 0.9rem;
        }
        &__subtitle-tarif{
            font-size: 0.8rem;
        }
    }
}

// Mobile L --> adapter la taille des titres
@media (min-width: 375px) and (max-width: 424px) {
    .menu-card__description{
        &__title{
            font-size: 1rem;
        }
        &__subtitle-tarif{
            font-size: 0.9rem;
        }
    }
}

// Tablette format paysage et plus grand
@media (min-width: 768px) {
    .operation, .menu__list{
        width: 70%; // centrer
        margin: 0 auto;
    }
    .restaurants__list{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        & > *{
            width: 45%; //pour placer 2 cartes par ligne
        }
    }
}

//Réduire le texte de la description de la carte de menu sur les petits ordinateurs portables
@media (min-width: 1024px) and (max-width: 1299px) {
    .menu-card__description{
        &__title{
            font-size: 1rem;
        }
        &__subtitle-tarif{
            font-size: 0.8rem;
        }
    }
}

// portabe et bureau
@media (min-width: 1024px) {
    .menu__list{
        display: flex;
        justify-content: space-around;
        width: 95%;
        & > *{
            width: 31%; //  pour placer toutes les sections de menu sur une rangée
        }
    }
    .restaurants__list > *{
        width: 24%; // pour placer 4 cartes par ligne
    }
}
@media (min-width: 343px) and (max-width: 767.98px) {
    .button {
      font-size: 1rem;
      margin-right: 40px;
      margin-left: 80px;
      padding: 0;
      margin-top: 40px;
      width: 200px;
   }
   .menu__button.button{
  margin-left: 60px;
  width: 100px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 40px;
    
  
  }
  }